.header {
  height: 8rem;
  @media only screen and (max-width: 425px) {
    height: 10rem;
    padding-top: 2rem;
  }

  &__content {
    @include centerBlock;

    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: 425px) {
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      grid-row-gap: 2rem;
    }

    &--logo {
      display: grid;
      height: 100%;
    }

    &--links {
      display: grid;
      height: 100%;

      z-index: 55;
      position: fixed;
      height: 10%;
      align-items: center;
      right: 4rem;

      @media only screen and (max-width: 425px) {
        right: 0rem;
      }

      & ul {
        @media only screen and (max-width: 425px) {
          padding: 2rem;
          display: grid;
          justify-items: end;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

.navFixed {
}

.navMinified {
  padding: 2rem;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr;
}
